@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./view-transitions.css";

*::-webkit-scrollbar {
  display: none;
}

* {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow;
  transition-duration: 300ms;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
