@keyframes from-right-delayed {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes from-left-delayed {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes from-top-delayed {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes from-bottom-delayed {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes left-old {
  to {
    transform: translateX(100%);
  }
}

@keyframes left-new {
  from {
    transform: translateX(-100%);
  }
}

@keyframes right-old {
  to {
    transform: translateX(-100%);
  }
}

@keyframes right-new {
  from {
    transform: translateX(100%);
  }
}

@keyframes bottom-old {
  to {
    transform: translateY(-100%);
  }
}

@keyframes bottom-new {
  from {
    transform: translateY(100%);
  }
}

@keyframes top-old {
  to {
    transform: translateY(100%);
  }
}

@keyframes top-new {
  from {
    transform: translateY(-100%);
  }
}

@keyframes left-left-old {
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes right-right-old {
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes top-top-old {
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes bottom-bottom-old {
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes top-right-old {
  50% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(-100%, 100%);
  }
}

@keyframes top-left-old {
  50% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes bottom-right-old {
  50% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(-100%, -100%);
  }
}

@keyframes bottom-left-old {
  50% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(100%, -100%);
  }
}

@keyframes left-top-old {
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes left-bottom-old {
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(100%, -100%);
  }
}

@keyframes right-top-old {
  50% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-100%, 100%);
  }
}

@keyframes right-bottom-old {
  50% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-100%, -100%);
  }
}

::view-transition-old(transition-container-right) {
  animation: right-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-right) {
  overflow: hidden;
  animation: right-new 0.75s ease-in-out;
}

::view-transition-old(transition-container-right-top) {
  animation: right-top-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-right-top) {
  overflow: hidden;
  animation: from-top-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-right-bottom) {
  animation: right-bottom-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-right-bottom) {
  overflow: hidden;
  animation: from-bottom-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-left) {
  animation: left-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-left) {
  overflow: hidden;
  animation: left-new 0.75s ease-in-out;
}

::view-transition-old(transition-container-left-top) {
  animation: left-top-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-left-top) {
  overflow: hidden;
  animation: from-top-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-left-bottom) {
  animation: left-bottom-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-left-bottom) {
  overflow: hidden;
  animation: from-bottom-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-top) {
  animation: top-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-top) {
  overflow: hidden;
  animation: top-new 0.75s ease-in-out;
}

::view-transition-old(transition-container-top-left) {
  animation: top-left-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-top-left) {
  overflow: hidden;
  animation: from-left-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-top-right) {
  animation: top-right-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-top-right) {
  overflow: hidden;
  animation: from-right-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-bottom) {
  animation: bottom-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-bottom) {
  overflow: hidden;
  animation: bottom-new 0.75s ease-in-out;
}

::view-transition-old(transition-container-bottom-right) {
  animation: bottom-right-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-bottom-right) {
  overflow: hidden;
  animation: from-right-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-bottom-left) {
  animation: bottom-left-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-bottom-left) {
  overflow: hidden;
  animation: from-left-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-left-left) {
  animation: left-left-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-left-left) {
  overflow: hidden;
  animation: from-left-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-right-right) {
  animation: right-right-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-right-right) {
  animation: from-right-delayed 0.75s ease-in-out;
  overflow: hidden;
}

::view-transition-old(transition-container-top-top) {
  animation: top-top-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-top-top) {
  overflow: hidden;
  animation: from-top-delayed 0.75s ease-in-out;
}

::view-transition-old(transition-container-bottom-bottom) {
  animation: bottom-bottom-old 0.75s ease-in-out;
}

::view-transition-new(transition-container-bottom-bottom) {
  overflow: hidden;
  animation: from-bottom-delayed 0.75s ease-in-out;
}
